

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'OpenSans'; /* Гарнитура шрифта */
  src: url( "fonts/OpenSans-Regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
   font-family: 'OpenSansExtraBold'; /* Гарнитура шрифта */
   src: url( "fonts/OpenSans-ExtraBold.ttf" ); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'OpenSansSemibold'; /* Гарнитура шрифта */
   src: url( "fonts/OpenSans-Semibold.ttf" ); /* Путь к файлу со шрифтом */
  }


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'OpenSans', sans-serif;
  color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
  font-family: 'OpenSansSemibold', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cols {
  margin: 1em auto;
  box-sizing: border-box;
}

.cols.col-1,
.cols.col-2,
.cols.col-3,
.cols.col-4,
.cols.col-5,
.cols.col-6,
.cols.col-7,
.cols.col-8,
.cols.col-9,
.cols.col-10,
.cols.col-11,
.cols.col-12 {
  width: 100%;
}

.color-text {
  color: #e93a1d;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .cols {
    float: left;
    margin: 1em 0;
  }

  .cols.col-6-md {
    width: 50%;
  }

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 960px;
  }

  .cols.col-1 {
    width: 8.3333%;
  }

  .cols.col-2 {
    width: 16.6666%;
  }

  .cols.col-3 {
    width: 24.9999%;
  }

  .cols.col-4 {
    width: 33.3332%;
  }

  .cols.col-5 {
    width: 41.6665%;
  }

  .cols.col-6 {
    width: 49.9998%;
  }

  .cols.col-7 {
    width: 58.3331%;
  }

  .cols.col-8 {
    width: 66.6664%;
  }

  .cols.col-9 {
    width: 74.9997%;
  }

  .cols.col-10 {
    width: 83.333%;
  }

  .cols.col-11 {
    width: 91.663%;
  }

  .cols.col-12 {
    width: 100%;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}
