

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'OpenSans'; /* Гарнитура шрифта */
  src: url( "../fonts/OpenSansRegular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
   font-family: 'OpenSansBold'; /* Гарнитура шрифта */
   src: url( "../fonts/OpenSansBold.ttf" ); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'OpenSansLight'; /* Гарнитура шрифта */
   src: url( "../fonts/OpenSansLight.ttf" ); /* Путь к файлу со шрифтом */
  }


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'OpenSans', sans-serif;
  color: #000000;
}

html {
  background: #eefff0;
}

body {
  padding: 170px 0 150px 0;
  background: url('../img/bg_top.png') no-repeat 0 0,
              url('../img/bg_bottom.png') no-repeat 0 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
  font-family: 'OpenSansBold', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 300px;
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.color-text {
  color: #e93a1d;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

header .header-menu ul>li {
  padding: 0.5em;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}

header .header-menu ul>li a {
  color: #5b884e;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.35;
}

header .header-menu ul>li:hover a {
  opacity: 1;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 750px;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 1032px;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  header {
    flex-direction: row;
    justify-content: center;
    padding: 16px 27px;
  }

  .logo-box {
    margin: 0;
    margin-right: 1em;
  }

  header .header-menu ul {
    flex-direction: row;
    justify-content: space-between;

  }

  header .header-menu ul>li {
    padding: 0 18px 2px 18px;
    border-bottom: none;
    border-right: 1px solid #ebebeb;
    text-align: center;
  }

  header .header-menu ul>li:last-child {
    padding-right: 0;
    border-right: none;
  }



  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}
